
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
   @Styles.Render("~/Content/bootstrapcss") 

    <!-- Add custom CSS here -->
    <style>
        body {
            margin-top: 60px;
        }
    </style>

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                @RenderBody();
                @if (Request.IsAuthenticated)
                {
                    <strong>@Html.Encode(User.Identity.Name)</strong>
                    @Html.ActionLink("Sign Out", "Log Out", "User")
                }
                else
                {
                    @Html.ActionLink("Register", "Register", "User")
                    @Html.ActionLink("Sign In", "Login", "User")
                }
            </div>
        </div>

    </div>
    <footer style="padding: 15px !important">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <ul class="list-inline">
                    <li>
                        <i class="fa fa-facebook fa-3x"></i>
                    </li>
                    <li>
                        <i class="fa fa-twitter fa-3x"></i>
                    </li>
                    <li>
                        <i class="fa fa-dribbble fa-3x"></i>
                    </li>
                </ul>
                <!-- <div class="top-scroll">
                    <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                </div>-->
                <hr>
                <ul class="list-inline">
                    <li>
                        <i><a href="#contact">Terms & Conditions</a></i>
                    </li>
                    <li>
                        <i>Privacy Statement</i>
                    </li>
                    <li>
                        <i>Site Map</i>
                    </li>

                    <li>
                        <i>Cookie Policy</i>
                    </li>
                </ul>
                <p class="text-center">Bluecoat Software &copy; Copyright 2014</p>
                <p><img src="~/Content/Image/powered-by-finplan-102x38-trans.jpg" /></p>



            </div>
        </div>
    </footer>
    <!-- /Footer -->
    <!-- /.container -->
    <!-- JavaScript -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")

</body>

</html>