@model FinPlanWeb.Models.User

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>LogIn</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Please check your login details.");
    
    
    
   <form role="form">
  <div class="form-group">
    @Html.LabelFor(u => u.Username);
    @Html.TextBoxFor(u => u.Username)
    @Html.ValidationMessageFor(u => u.Username)
  </div>
  <div class="form-group">
    @Html.LabelFor(u => u.Password);
    @Html.PasswordFor(u => u.Password)
    @Html.ValidationMessageFor(u => u.Password)
  </div>
  <div class="checkbox">
      @Html.CheckBoxFor(u => u.RememberMe)
      @Html.LabelFor(u => u.RememberMe)
  </div>
  <button value="log in" type="submit" class="btn btn-default">Login</button>
</form>
    
}